.navbar{
    display:flex;
    align-items: end;
}
.navbar-right{
    display:flex;
}
.hover-menu {
    margin-right:8px;
    border: 1px solid #2c2c2c75;
    background-color: #9c9797;
    color: #ffffff !important;
    /* font-size: 1.2rem; */
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.hover-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.hover-menu:hover::after {
    transform: scale(4);
}

.hover-menu:hover {
    border-color: #666666;
    background: #292929;
}
.hover-menus {
    width: 7em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white !important;
    text-align: center;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.hover-menus:hover {
    color: black !important;
}

.hover-menus:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.hover-menus:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

